.waiting-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  box-sizing: border-box;
  padding: 40px;

}

.lobby {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
  color: #f68e44;

}

.lobby h2 {
  margin-bottom: 10px;
  color: #f68e44;

}

.lobby p {
  margin-bottom: 10px;
}

.lobby button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b79726;
  
  color: white;
  cursor: pointer;
}

.lobby button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
